/* All <ul> tags in the menu, including the first level. */
.menulist, .menulist  ul {
 margin     : 0;
 padding    : 0;
 list-style : none;
 cursor     : pointer;
}

/* Submenus (<ul> tags) are hidden and absolutely positioned downwards from their parent. */
.menulist ul {
 position  : absolute;
 width     : auto;
 min-width : 100%;
 margin    : 8px 0 0 -16px;
}

.menulist_h li {
 border-top : 4px solid;
}

.menulist_table {
 display        : table;
 pointer-events : none;
}
.menulist_table > div {
 display : table-row;
}
.menulist_table > div > li {
 display        : table-cell;
 pointer-events : auto;
}
.menulist_table > div > li:not(:first-child) {
 border-left : none;
}
.menulist_table > div:not(:first-child) li {
 border-top : none;
}

/* Second and third etc. level submenus - position across from parent instead */
.menulist ul ul {
 position    : absolute;
 left        : 100%;
 top         : -1px;
 margin-top  : -3px;
 margin-left : 1px;
}

.menulist li {position: relative}

.menulist ul li {
 float        : none;
 margin       : 0;
 padding      : 8px;
 border-width : 4px;
 border-style : solid;
}
.menulist-horizontal > li {vertical-align: middle; display: inline-block}
.menulist-horizontal > li:not(:first-child) {border-left: none}
.menulist-horizontal ul > li:not(:first-child) {border-top: none}

.menulist-vertical > li {float: none}
.menulist-vertical > li:not(:last-child) {border-bottom: none}

.menulist-vertical-flex {display: flex; flex-direction: column; flex-wrap: wrap; justify-content: flex-start; align-items: flex-start}
.menulist-vertical-flex > li {border-bottom-width: 2px}
.menulist-vertical-attached {margin-top: -4px}
.menulist-vertical-flex-column {flex-direction: column}
.menulist-vertical-flex-row {flex-direction: row}

.menulist li {
 padding         : 8px 12px;
 text-decoration : none;
}
